<!DOCTYPE html>
<html lang="en">

<head data-theme="dark">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://vu.edu.bd/img/ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css">
    <title>Varendra University CSE Resources</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url "home" %}"><strong>CSE resources</strong></a></li>
            </ul>
            <!--
                <ul>
                <li><a>Youtube Channels</a></li>
                <li><a>Blogs</a></li>
            </ul>
            -->
        </nav>
        
        <hr>
    </div>
    <div class="mainbody container">
        {% block body %}
            
        {% endblock %}
    </div>
</body>

</html>